apiVersion: apps/v1
kind: Deployment
metadata:
  name: usuarios
spec:
  replicas: 1
  selector:
    matchLabels:
      app: usuarios
  template:
    metadata:
      labels:
        app: usuarios
    spec:
      containers:
        - name: usuarios
          image: nginx:1:25
          ports:
            - containerPort: 80
    strategy:
      type:  RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 1
